body {
  background-color: #6096BA;
}
h1 {
  color: #162521;
}
h2 {
  color: #162521;
}
h3 {
  color: #162521;

}
h5 {
  color: #162521;
}
a:link {
  color:  #072AC8;
}
a:visited {
  color: #162521;
}
p {
  color: black;
}
.accordian-button {
  background-color: #C0E0DE;
}

.navbar {
  background-color: #113686;
}

.nav-link {
  color: #274C77;
}

.btn{
  background-color: #113686;
  margin-top: 7px;
}

.left{
  float: left;
}

.right{
  float: right;
}
